/*** FLEX PROPS ***/

%flex-row {
    display: flex;
    flex-direction: row;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%align-center {
    align-items: center;
}

%justify-left {
    justify-content: left !important;
}

%justify-center {
    justify-content: center;
}

%justify-around {
    justify-content: space-around !important;
}

/*** JUSTIFYING ***/

.left { @extend %justify-left; }
.center { @extend %justify-center; }
.around { @extend %justify-around; }

/*** CONTAINERS ***/

.flex-container {
    @extend %flex-row;
    @extend %justify-center;
    @extend %align-center;
}

/*** SPACING ***/

.flex-spacing {
    flex: 1 1 auto;
}

/*** CARDS ***/

.card-container {
    @extend %flex-row;
    @extend %align-center;
}

.card-content-container {
    @extend %align-center;
    @extend %flex-column;
    @extend %justify-center;
}

.card-full-width {
    width: 100%;
}

/*** FORMS ***/

.form-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-container-width {
    width: 100%;
}

/*** BUTTONS ***/

.button-container {
    @extend %flex-row;
    @extend %align-center;
    @extend %justify-center;
}