/*** FLEX PROPS ***/

%flex-row {
    display: flex;
    flex-direction: row;
}

%flex-column {
    display: flex;
    flex-direction: column !important;
}

%flex-wrap {
    flex-wrap: wrap;
}

%flex-no-wrap {
    flex-wrap: nowrap;
}

%align-center {
    align-items: center;
}

%justify-left {
    justify-content: left !important;
}

%justify-center {
    justify-content: center;
}

%justify-around {
    justify-content: space-around !important;
}

/*** JUSTIFYING ***/

.left { @extend %justify-left; }
.center { @extend %justify-center; }
.around { @extend %justify-around; }

/*** WRAPING ***/

.wrap { @extend %flex-wrap; }
.no-wrap { @extend %flex-no-wrap; }

/*** CONTAINERS ***/

.flex-container {
    @extend %flex-row;
    @extend %justify-center;
    @extend %align-center;
}

.column {
    @extend %flex-column;
}

/*** SPACING ***/

.flex-spacing {
    flex: 1 1 auto;
}

/*** CARDS ***/

.card-container {
    @extend %flex-row;
    @extend %align-center;
}

.card-content-container {
    @extend %align-center;
    @extend %flex-column;
    @extend %justify-center;
}


/*** HEIGHT & WIDTH ***/

.full-width {
    width: 100%;
}

.w-500 {
    width: 500px;
}

.w-400 {
    width: 400;
}

.card-full-height-1 {
    max-height: 100px;
    overflow: auto;
}
.card-full-height-2 {
    max-height: 200px;
    overflow: auto;
}
.card-full-height-3 {
    max-height: 300px;
    overflow: auto;
}
.card-full-height-4 {
    max-height: 400px;
    overflow: auto;
}
.card-full-height-5 {
    max-height: 500px;
    overflow: auto;
}

/*** LIST ***/

.list-container-width {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

/*** FORMS ***/

.form-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-container-width {
    width: 100%;
}

/*** POSITION ***/

.sticky {
    position: sticky;
    top: 0;
    z-index: 999;
}