<mat-card class="card-container t-center">
    <div class="p-1">
        <mat-card-title>Título</mat-card-title>
        <!-- <div class="p-1">
            <mat-card-subtitle>Por favor, ingresa tus datos</mat-card-subtitle>
        </div> -->
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-nav-list *ngFor="let item of [{url: 'home', name: 'Item'}]">
            <a mat-list-item [href]="item.url" > {{ item.name | uppercase }} </a>
        </mat-nav-list>
     </mat-card-content>
</mat-card>