<div class="flex-container">
    <mat-card class="card-container t-center">
        <!-- <div *ngIf="button" class="flex-container left p-1">
            <button mat-stroked-button color="primary" (click)="onClick()">Volver</button>
        </div> -->
        <mat-card-title class="p-1">AGREGAR MESAS</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-card-actions>
                <button mat-mini-fab color="primary" (click)="addTable()"><mat-icon>add</mat-icon></button>
            </mat-card-actions>
        </mat-card-content>
        <mat-card-title class="p-1">MESAS</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="card-full-height-5">
            <div *ngFor="let opt of tables" class="p-2 card-content-container">
                <!-- <a [routerLink]="opt.url" class="full-width"> -->
                    <mat-card class="mat-elevation-z5">
                        <h3 class="ptb-1 plr-2">{{opt.number}}</h3>
                        
                    </mat-card>
                <!-- </a> -->
            </div>
            <mat-card class="mat-elevation-z5" *ngIf="tables.length == 0">
                <h3 class="ptb-1 plr-2 mt-1">Sin resultados</h3>
                
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>

