<div class="p-1">
    <mat-list>
        <mat-list-item>
            Bar ... 
        </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <div class="mt-1">
        <mat-nav-list *ngFor="let item of items">
            <div mat-subheader *ngIf="item.submenus != null && item.submenus.length != 0">
                <h4>{{ item.name|uppercase }}</h4>
            </div>
            <ng-container *ngFor="let eachItem of item.submenus">
                <a mat-list-item [href]="eachItem.url" *ngIf="item.submenus != null">
                    <mat-icon mat-list-icon>{{ eachItem.icon }}</mat-icon>
                    {{ eachItem.name | uppercase }}
                </a>
            </ng-container>
            <a mat-list-item [href]="item.url" *ngIf="item.submenus == null">
                <mat-icon mat-list-icon>{{ item.icon }}</mat-icon> 
                {{ item.name | uppercase }} 
            </a>
            <mat-divider></mat-divider>
         </mat-nav-list>
    </div>
</div>