/*** BACKGROUND ***/
@use './custom/sass/_background.scss';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 30%;
}

/*** THEME ***/




/*** COLORS ***/

%dark {
    background-color: black !important;
    color: white !important;
}

/**** MARGINS ****/

.m-top-1 {
    margin-top: 1rem;
}

.m-1 {
    margin: 1rem;
}

/**** PADDINGS ****/

.p-1 {
    padding: 1rem;
}

.ptb-1 {
    padding: 1rem 0;
}

.plr-1 {
    padding: 0 1rem;
}

/*** TEXT ***/

.t-center {
   text-align: center; 
}

/*** SPACING ***/

.flex-spacing {
    flex: 1 1 auto;
}

/*** CONTAINERS ***/

.flex-container {
    @extend %flex-row;
    @extend %justify-center;
    @extend %align-center;
}

/*** FLEX PROPS ***/


%flex-row {
    display: flex;
    flex-direction: row;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%align-center {
    align-items: center;
}

%justify-center {
    justify-content: center;
}

%justify-around {
    justify-content: space-around;
}

/*** CARDS ***/

.card-container {
    @extend %flex-row;
    @extend %align-center;
    width: 50%;
}

.card-content-container {
    @extend %align-center;
    @extend %flex-column;
    @extend %justify-center;
}

.form-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-container-width {
    width: 100%;
}

/*** BUTTONS ***/

.button-container {
    @extend %flex-row;
    @extend %justify-around;
}
