/*** LAYOUT ***/
@use './custom/sass/layout';

/*** BACKGROUND ***/
@use './custom/sass/background';

/**** MARGINS ****/
@use './custom/sass/margin';

/*** THEME ***/


/**** PADDINGS ****/
@use './custom/sass/padding';

/*** TEXT ***/
@use './custom/sass/text';

/*** MATERIAL CUSTOM ***/
@use './custom/sass/material-custom';

/*** CUSTOM SCROLL ***/
@use './custom/sass/custom-scroll';

/*** MAIN ***/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { text-decoration: none; }
