<div class="flex-container">
    <mat-card class="card-container t-center">
        <div class="p-1">
            <mat-card-title>{{ title |uppercase}}</mat-card-title>
            <div class="p-1">
                <mat-card-subtitle>Por favor, ingresa tus datos</mat-card-subtitle>
            </div>
        </div>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="p-1 card-content-container">
                <!-- Here it is placed the form -->
                <form [formGroup]="form" class="form-container">
                    <mat-form-field appearance="fill" class="form-container-width">
                        <mat-label>Nombre de usuario</mat-label>
                        <input 
                            matInput
                            formControlName="userName"
                        >
                        <mat-error *ngIf="userName.hasError('required')">Campo requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="form-container-width">
                        <mat-label>Contraseña</mat-label>
                        <input 
                            type="password"
                            matInput
                            formControlName="userPassword"
                            [errorStateMatcher]="matcher"
                        >
                        <mat-error *ngIf="userPassword.hasError('required')">Campo requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="form-container-width">
                        <mat-label>Rol</mat-label>
                        <mat-select formControlName="role">
                            <mat-option *ngFor="let role of roles" [value]="role._id">
                                {{role.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="role.hasError('required')">Campo requerido</mat-error>
                    </mat-form-field>
                    <!-- Here this appears if the selected role is table -->
                    <ng-container *ngIf="isTableRole" >
                        <mat-form-field appearance="fill" class="form-container-width">
                            <mat-label>Número de mesa</mat-label>
                            <input 
                            matInput
                            [readonly]="true"
                            formControlName="number"
                            >
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="form-container-width">
                            <mat-label>Capacidad de la mesa</mat-label>
                            <input 
                            matInput
                            formControlName="capacity"
                            >
                            <mat-error *ngIf="capacity.hasError('required')">Campo requerido</mat-error>
                            <mat-error *ngIf="capacity.hasError('pattern')">Sólo números</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="form-container-width">
                            <mat-label>Sector</mat-label>
                            <mat-select formControlName="sector">
                                <mat-option *ngFor="let sector of sectors" [value]="sector._id">
                                    {{sector.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="sector.hasError('required')">Campo requerido</mat-error>
                        </mat-form-field>
                        <div class="p-1">
                            <mat-slide-toggle formControlName="available">Disponible</mat-slide-toggle>
                        </div>
                        <div class="p-1">
                            <mat-slide-toggle formControlName="booked">Reservada</mat-slide-toggle>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="isWaiterRole">
                        
                    </ng-container>
                </form>
            <!-- Button Container -->
            </div>
            <div class="flex-container p-1">
                <button mat-raised-button color="primary" (click)="onFormSubmit()">Registrarse</button>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <mat-card-subtitle>
                <div class="p-1">
                    <span class="mr-1">¿Ya tiene una cuenta?</span>
                    <button 
                        routerLink="../login"
                        mat-stroked-button 
                        color="accent" 
                        class="m-1"
                        >Ingresar
                    </button>
                </div>
            </mat-card-subtitle>
        </mat-card-footer>
    </mat-card>
</div>
